<header class="header">

  <div class="logo-area">
    <img src="assets/logo-minas-gerais.png" alt="Minas Gerais" class="logo">
    <h1 routerLink="/" style="cursor: pointer;">SUBIP</h1>
  </div>

  <div class="menu-actions">

    @if (autenticacao) {

    <span class="usuario">
      Olá, {{ primeiroNome() }}
    </span>

    <button class="btn-login" (click)="sair()">
      Sair
    </button>

    } @else {

    <button class="btn-login" routerLink="/login">
      Entrar
    </button>

    }

    <a routerLink="/ajuda" class="menu-link">
      Ajuda
    </a>

  </div>

</header>